.button {
  color: white;
  padding: 1em 2em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 999px;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  font-weight: bold;
  text-decoration: none;
  width: fit-content;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 999px;
    transition: 0.3s ease-in-out;
  }

  &:before {
    background-color: white;
    width: 0%;
    z-index: -1;
  }

  &:after {
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    z-index: -2;
  }

  path {
    transition: 0.3s ease-in-out;
  }

  &:hover {
    color: var(--color-primary);

    path {
      fill: var(--color-primary);
    }

    &:before {
      width: 100%;
    }
  }
}
