:root {
  --color-primary: #7a0c7b;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: "Domine", sans-serif;
  overflow-x: hidden;
}

.ornament {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 50px;

  &::after {
    background: linear-gradient(90deg, #020024, #7a0c7b 25%, #7a0c7b 75%, #000);
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 110%;
    z-index: 2;
  }
}
